@charset "utf-8";
div.lb-index-menu ul.floatmenu{ margin-right:0; padding: 0; list-style:none; font:normal 12px SimSun ,"Arial", "Helvetica", "sans-serif";}
div.lb-index-menu .floatmenu li a {
	cursor: pointer;
	text-decoration: none;
	color:#3e3e3e;
}
div.lb-index-menu .floatmenu li a:hover{ color:#aa0000;}
div.lb-index-menu .floatmenu_table{
	width:200px;
	min-height:300px;
	position:fixed;
	right:0px;
	top: 50px;
}
div.lb-index-menu .floatmenu_table_colse{
	width:200px;
	min-height:300px;
	position:fixed;
	right:-202px;	
	top: 50px;
}
.ext-chrome div.lb-index-menu .floatmenu_table{
	right:17px;
}
.ext-chrome div.lb-index-menu .floatmenu_table_colse{
	right:-185px;	
}
div.lb-index-menu .floatmenu_top{
	height:1;
	line-height: 0px;
	border-top:1px solid #c2c2c2;
}
div.lb-index-menu .floatmenu_shade_top{
	background:url(images/shade_top.png) no-repeat top right;	
	width:17px;
	height:1px;
	line-height: 0px;
}
div.lb-index-menu .floatmenu_shade_bg{
	background:url(images/shade_bg.png) repeat-y right;	
}
div.lb-index-menu .floatmenu_shade_bottom_left{
	background:url(images/shade_bottom_left.png) no-repeat top right;	
	width:17px;
	height:6px;
}
div.lb-index-menu .floatmenu_shade_bottom_bg{
	background:url(images/shade_bottom_bg.png) repeat-x left top;	
	height:6px;
}
div.lb-index-menu .floatmenu_fix_close{
	background:url(images/fix_gray.png) no-repeat top right;
	cursor:pointer;
	width:17px;
	height:102px;
}
div.lb-index-menu .floatmenu_fix_open{
	background:url(images/fix_open_over.png) no-repeat top right;
	cursor:pointer;
	width:17px;
	height:102px;
}
div.lb-index-menu .floatmenu_td{
	background-color:#faf9f9;
	padding:3px 0;
	border-right:1px solid #c2c2c2;
	vertical-align:top;
}
div.lb-index-menu ul.floatmenu{margin: 0; float:left; width:199px;}
div.lb-index-menu table.floatmenu{margin: 0; float:left; width:199px;}
div.lb-index-menu ul.floatmenu li{
	line-height:28px;
	border-bottom:1px dotted #ddd;
	padding: 0 13px 0 16px;
	color:#3e3e3e;
	cursor:pointer;
	overflow:hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	width: 170px;
}
div.lb-index-menu ul.floatmenu li a{line-height:28px;}
div.lb-index-menu .floatmenu_page{
	text-align:center;
	margin:9px 0;
	font-size:12px;	
}
div.lb-index-menu .floatmenu_arrow_pre, .floatmenu_arrow_pre_gray, .floatmenu_current, .floatmenu_normal, .floatmenu_arrow_next, .floatmenu_arrow_next_gray {
	display: inline-block;
	height: 16px;
	width: 16px;
	font-weight: bold;
	margin-right: 2px;
	cursor: pointer;
	text-decoration: none;
	color:#3e3e3e;
}
div.lb-index-menu .floatmenu_arrow_pre_gray {
	background: url(images/arrow_left_gray.gif) no-repeat;
	vertical-align: middle;
}
div.lb-index-menu .floatmenu_arrow_pre {
	background: url(images/arrow_left.gif) no-repeat;
	vertical-align: middle;
}
div.lb-index-menu .floatmenu_arrow_next{
	background: url(images/arrow_right.gif) no-repeat;
	vertical-align: middle;
}
div.lb-index-menu .floatmenu_arrow_next_gray{
	background: url(images/arrow_right_gray.gif) no-repeat;
	vertical-align: middle;
}
div.lb-index-menu .floatmenu_current {
	color: #b80000;
}
div.lb-index-menu .floatmenu_normal {
	color: #707070;
}
div.lb-index-menu .floatmenu_title{
	font-weight:bold;
	text-align:center;	
	padding-bottom:5px!important;
	color:#aa0000!important;

	border-bottom: 1px dotted #ddd;
	line-height: 25px;
	height: 25px;
	font-size:12px;
}
div.lb-index-menu .floatmenu_content_box{
	min-height:280px;
	border:none;
	width:100%;	
}
div.lb-index-menu .floatmenu_content{
	vertical-align:top;
}
div.lb-index-menu .floatmenu_div_box_total{
	width:600px;	
}

div.lb-index-menu .floatmenu_content{
	vertical-align:top;
}
div.lb-index-menu .floatmenu_div_box{
	width:200px;
	overflow:hidden;	
}