@charset "UTF-8";
body, td, div{
	color:#000;
	font-size:12px;
}
a, a.link{
	color:#DB6D02;
}
.main-body, .lb-main{
	padding:15px;
	margin:0;
}
h1{
	font:bold 26px/36px SimSun,tahoma,arial,verdana;
	color:#BE0600;
	border-bottom:1px dotted #b8b8b8;
}
h3, .lb-index h3{
	font:bold 19px/26px SimSun,tahoma,arial,verdana;
	color:#000;
	background:url(images/main_arrow.gif) no-repeat 0 4px;;
	padding-left:16px;
}
h4{
	font: bold 15px/18px SimSun,tahoma,arial,verdana;
	color: #666;
	text-indent: 18px;
}
ul.main-ul li{
	font:12px/22px SimSun,tahoma,arial,verdana;
}
.main-remark{
	color:#A30100;
	font-size:14px;
	text-indent:19px;
}
.main-table{
	border:1px solid #E2E2E2;
	border-top:0;
	width:98%;
	margin:0 auto;
}
table.main-table td{
	border-left: 1px solid white;
	border-right: 1px solid #E2E2E2;
	border-top: 1px solid #e2e2e2;
	height:24px;
	padding-left:3px;
	
}
table.main-table td:last-child{
	border-right: 0;	
}
td.title{
	background:#F7F7F7 url(images/title_bg.gif) repeat-x bottom left;
	font-weight:bold;
	color:#444;
	white-space:nowrap;
	height:26px !important;
}
.arrow-top{
	background:url(images/main_arrow_top.gif) no-repeat center center;
	display:inline-block;
	height:35px;
	width:30px;
	cursor:pointer;
	vertical-align:top;
}
.lb-main .title{
	font:bold 38px/100px SimHei,tahoma,arial,verdana;
	color:#BE0600;
	border-bottom:1px dotted #b8b8b8;
	text-align:center;
	width: 80%;
	margin: 0 auto;
}
.lb-main .littletitle{
	font:bold 30px/60px SimSun,tahoma,arial,verdana;
	color:#555;
	text-align:center;
}
.lb-main .logo{
	text-align:center;
	padding:10px;
}
.lb-main .logo .imglogo{
	min-width:100px;
}
.lb-main .name{
	text-align:center;
	font:bold 26px/60px SimSun,tahoma,arial,verdana;
}
.lb-main .time{
	text-align:center;
	font:bold 26px/30px SimSun,tahoma,arial,verdana;
}
.lb-main .bottom{
	position:absolute;
	bottom:10%;
	margin: 0 auto;
	width: 100%;
}
.lb-index ul.menu-two li{
	font:14px/25px SimSun,tahoma,arial,verdana;
	color#000;
	list-style-type:disc;
}
.lb-index ul.menu-three li{
	font:12px/24px SimSun,tahoma,arial,verdana;
	color#000;
	list-style-type:circle;
}
.lb-index ul.menu-four li{
	list-style-type: decimal;
	color:#555;
}
html, body{height:100%;}
.lb-main-cover{height:100%; width:100%;}